@import "tailwindcss";

@theme {
  --color-terminal-green: #2d8633;
  --color-terminal-light: #e6e7e8;
  --color-terminal-gray: #cacad0;
  --color-terminal-darkgray: #666666;
  --color-terminal-panel: #f0f0f2;
  --color-terminal-accent: #00a35c;

  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  --color-brand-active: var(--color-terminal-green);
  --color-brand-text: white;
  background-color: var(--color-terminal-light);
  color: #333;
}

.brand-claas {
  --color-brand-active: #b4c618;
  --color-brand-label-text: #fe0000;
  --color-brand-text: white;
}
.brand-fendt {
  --color-brand-active: #008b45;
  --color-brand-label-text: white;
  --color-brand-text: white;
}
.brand-steyr {
  --color-brand-active: #e20026;
  --color-brand-label-text: white;
  --color-brand-text: white;
}
.brand-valtra {
  --color-brand-active: #e4002b;
  --color-brand-label-text: white;
  --color-brand-text: white;
}
.brand-mercedesbenztrucks {
  --color-brand-active: #e9ec5d;
  --color-brand-label-text: black;
  --color-brand-text: black;
}
.brand-johndeere {
  --color-brand-active: #367c2b;
  --color-brand-label-text: white;
  --color-brand-text: white;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Inter", system-ui, sans-serif;
}

#root {
  width: 100%;
}

.map-player-marker {
  transition: transform 0.5s linear;
  will-change: transform;
}
